/*Compare yours to portias code because you don't have everyhting*/
:root{
    --primary-color: /*this from now on for colors*/ #A0DBF2;
    --secondary-color: #595302;

}
body{
    background: var(--primary-color); /*this from now on for colors*/
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width:95%;
    margin:auto;
    background: #59530247;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#main-header{
    background: var(--primary-color);
    background-color: #595302;
    color: white;
    border-radius: 5px;
    padding: 5px;
    position: relative; /*this allows us to position the h1 inside of it*/
}

/*Showcase*/
#showcase{
    position: relative; /*this puts this in the top left to its own window*/
    /*you need to do this, and then move the p element and make the p element absolute*/
}
#showcase p{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    width:fit-content; /* Take up only as much width as needed */
    /*Height will be variabled*/
    position: relative; /*relative to where it would normally be*/
    top:-50;
    left:0;
    
    /*nothing happened becuase we have to move it*//*Going to position itself relative to the window*/
    /* bottom:0; /* this is moving it*/ 
    /* left:0; */ 
}
#main-content section, #main-content aside{
    padding:5px;
}
.cat{
    background: #fff;
    padding:5px;
    border-radius:5px;
    margin: 5px;
}
img{
    max-width:100%;
}
.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.columns img {
    width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

/*Main Navigation*/
nav{
    list-style-type: none;
    padding-left:0;
}
nav a{
    text-decoration: none;
}
nav li{
    text-decoration: none;
}
#login-nav{
    position:absolute;
    top:2.5%;
    right:2.5%;

}
#login-nav a{
    color: white;
    padding: 5px;
    display: block;
}
#login-nav a:hover{
    border-bottom:1px solid white;

}
#main-nav li{
    border-bottom: 1px solid white;
}

#main-nav li:first-child{
    border-top: 1px solid white;
}

#main-nav a{
    color: white;
    padding: 10px 5px;
    display: block; /* makes the whole area clickable */
}

#main-nav a:hover{
    background-color: white;
    color: #595302;
}

#login-nav a::after{
    content:"l";
}

/*Typography*/
h1{
    text-align: center;
}

.hide{
    display: none;
}
.hide-small{
    display: none;
}

/* Larger Devices */
@media only screen and (min-width: 768px) {
  body{
        background-image: url(images/catree.jpg);
        background-size: cover;
    }
    #content{
        width: 70%;
    }

    /*Columns*/
    .columns{
        display:flex;
        flex-direction: row;
        gap: 16px;

    }
    .one{
        flex: 1;
    }
    .two{
        flex: 2;
    }
    .three{
        flex: 3;
    }
    .four{
        flex: 4;
    }
    .five{
        flex: 5;
    }

    /*Main Navigation*/
    #main-nav li{
        flex:1;
    }
    #main-nav li, #main-nav li:first-child{
        border:none;
    }

    #main-nav a{
        text-align: center;
        padding:5px;
    }

    #main-nav a:hover{
        background: #595302;
        color: white;
        border-bottom:1px solid white;
    }
    .hide-small{
        display: block;
    }
}